body {
    font-family: 'Bitter', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    background: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
    color: rgba(80, 196, 241, 0.836)
}

.logo {
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    padding: 0 0 20px 0;
    font-size: 60px;
    height: 5rem;
    display: inline-block;
}

.logo::after {
    content: "Let's make your own movie database!";
    font-size: 20px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: ease-in-out 500ms;
    top: 70px;
    padding: 5px;
    color: rgba(80, 196, 241, 0.836);
}

.logo:hover::after {
    transform: scale(1);
}

nav {
    width: 100%;
    background-color: rgba(80, 196, 241, 0.836);
    display: grid;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    animation: fadeIn 900ms;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.add-button {
    background-color: rgb(201, 157, 63);
    border: solid 5px white;
    color: white;
    display: block;
    font-size: 16px;
    font-family: 'Bitter', serif;
    border-radius: 4px;
    width: 290px;
    padding: 20px; 
}

.add-button:hover {
    background-color: rgba(253, 191, 56, 0.87);
    cursor: pointer;
}

.top-movies ul li {
    display: grid;
    padding: 5px;
}

#input-watched-movie {
    margin: 10px 0px;
    padding: 10px 0px;
    width: 287px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    
}

::placeholder{
    color: rgba(214, 40, 40, 0.603);
    font-weight: 600;
    text-align: center;
}

